$black: #000;
$white: #fff;

$gray_aa: #aaa;
$gray_ca: #CACED6;
$gray_a9: #A9AEC4;
$gray_1d: #1d1b20;
$gray_f7: #f7f8fc;
$gray_79: #79747e;

$red_ff: #ff0000;
$red_f5: #F5C8C8;

$yellow_da: #dad4b8;
$yellow_f4: #F4DF79;

// Breakpoints
$sm: 768px;
// ... other breakpoints, speeds and widths
