// Variables

// Colors
$white:		#fff;
$black:		#000;
$red:		#cc0000;
$green: 	#00cc66;
$blue:		#003a77;
$yellow:	#ffff00;
$lime:      #ccff00;
// ... other colors

$color-primary: $blue;
// $color-primary-light: #00a0d2;
// $color-primary-dark: #00a0d2;
// $color-primary-highlight: #00a0d2;
$color-secondary: $red;
// $color-secondary-light: #dee4e9;
// $color-secondary-dark: #333f48;
$color-tertiary: $lime;
// $color-tertiary-light: #c5c5c5;
// $color-tertiary-dark: #333f48;

$color-light:	$white;
$color-dark:	$black;

$color-success:	$green;
$color-info:	$blue;
$color-warning:	$yellow;
$color-danger:	$red;

// ... other colors

// Border radius
$border-radius: 4px;

// Font Family
$font-family-primary: 'Proxima Nova';
$font-family-secondary: 'Heebo', sans-serif;

// Font Weights
$font-weight-thin:  		100;
$font-weight-extra-light:	200;
$font-weight-light:  	  	300;
$font-weight-normal:  	 	400;
$font-weight-medium:  		500;
$font-weight-semi-bold:  	600;
$font-weight-bold:		  	700;
$font-weight-extra-bold:	800;
$font-weight-black:  		900;

// Breakpoints
$xs: 501px;
$sm: 576px; 
$md: 768px; // tablet
$lg: 1080px;
$xl: 1317px;
$xxl: 1441px;

// Wrapper/Container padding
$grid-gutter-width: 50px;
$grid-gutter-width-sm: 25px;
$grid-gutter-width-xs: 20px;

// Sidebar
$width-sidebar: 300px;

// Navbar height
//$navbar-height-sm : 45px;
$navbar-height-md : 60px;
$navbar-height-lg : 95px;
$navbar-sticky: 65px;

// Transition Speed
$speed-fast : .3s;
$speed-med  : .6s;
$speed-slow : 1s;

// Box Shadow
$shadow : rgba($color-dark, .3) 0px 10px 30px -5px;


$form-field-height: 44px;
$form-field-height-filters: 48px;


// Max width of specific content
$max-width : 1384px;
$max-width-content-0 : 960px;  //without gutters
$max-width-content-1 : 1040px; //without gutters
$max-width-content-2 : 1116px;
$max-width-content-3 : 1140px;
$max-width-content-4 : 1280px;