// ******************************
// COMPONENT - hero-home
.component.hero-home {
	height: 100vh;
	min-height: 830px;
	max-height: 1260px;
	position: relative;
	margin: 0;

	.swiper {
		height: 100%;
	}

	.acme-swiper-pagination {
		width: auto;
		position: absolute;
		top: 50%;
		left: auto;
		right: 50px;
		z-index: 3;
		flex-direction: column;
		justify-content: center;
		transform: translateY(-50%);
	}

	.swiper-slide {
		padding-top: 150px;
		padding-bottom: 144px;
		position: relative;
		justify-content: flex-end;

		.wrapper {
			width: 100%;
		}

		.inner-wrapper {
			max-width: 990px;
			position: relative;
			z-index: 4;

			&:before {
				content: '';
				display: block;
				position: absolute;
				z-index: 0;
				left: -85px;
				top: -74px;
				right: -74px;
				bottom: -74px;
				z-index: 1;
				background-color: $off-blue-0b-87;
			}
		}

		.slide-content {
			margin-top: 74px;
			margin-bottom: 74px;
			position: relative;
			z-index: 2;
			color: $white;

			.slide-header {
				color: $white;
				/*font-size: 96px;*/
			}
			h1, .h1 {
				margin-top: 46px;
				margin-bottom: 18px;
			}
		}
	}

	@include media-max($xxxl) {
		.swiper-slide {
			.inner-wrapper {
				margin-left: 80px;
			}
		}
	}

	@include media-max($xl) {
		.acme-swiper-pagination {
			top: auto;
			bottom: 25%;
		}

		.swiper-slide {
			.inner-wrapper {
				max-width: 850px;

				&:before {
					right: -60px
				}

				.slide-content {
					.slide-header {
						/*font-size: 80px;*/
					}
				}
			}
		}
	}

	@include media-max($lg) {
		.swiper-slide {
			.inner-wrapper {
				max-width: 800px;
			}
		}
	}

	@include media-max($md) {
		height: 60vh;
		min-height: 650px;
		max-height: 1000px;

		.swiper-slide {
			padding-top: 90px;
			padding-bottom: 90px;

			.inner-wrapper {
				width: 85%;
				margin-left: 0;

				.slide-content {
					.slide-header {
						/*font-size: 60px;*/
					}
				}
			}
		}
	}

	@include media-max($sm) {
		.acme-swiper-pagination {
			bottom: 20px;
			left: 40px;
			justify-content: flex-start;
			flex-direction: row;
		}

		.swiper-slide {
			.inner-wrapper {
				&:before {
					right: -30px
				}

				.slide-content {
					.eyebrow {
						font-size: 20px;
						display: flex;
						flex-wrap: wrap;
						.eyebrow-text {
							width: 100%;
						}

						&:after {
							margin-left: 0;
							top: 12px;
							margin-bottom: 12px;
							flex-basis: 100%;
							max-width: 80px;
						}
					}

					.slide-header {
						margin-top: 20px;
						/*font-size: 40px;*/
					}
				}
			}
		}
	}

	@include media-max($xs) {
		.acme-swiper-pagination {
			bottom: 20px;
			left: 40px;
			justify-content: flex-start;
			flex-direction: row;
		}

		.swiper-slide {
			.inner-wrapper {
				width: 90%;
				&:before {
					right: -30px
				}

				.slide-content {

					.slide-header {
						margin-top: 20px;
						/*font-size: 40px;*/
					}
				}
			}
		}
	}
}
