.stats {
	background-color: $gray_500;
	color: $white;
	margin: 0;
	.wrapper {
		max-width: 1304px;
		display: flex;
		gap: 40px;
		padding-top: 100px;
		padding-bottom: 100px;
		justify-content: space-between;
	}
	h2, .h1 {
		color: $white;
	}
	hr {
		background: $gray_400;
		margin: 20px 0 30px;
	}

	.content {
		max-width: 430px;
		width: 50%;
		padding-top: 20px;
		.button {
			margin-top: 8px;
		}
	}
	.stats-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 48px;
		row-gap: 60px;
		width: 50%;
		.item {
			color: $color-tertiary;
			line-height: 1.333em;
			max-width: 430px;

			.description {
				max-width: 280px;
			}
		}
		.stat {
			font-size: 100px;
			line-height: 1;
			display: inline-block;
		}
	}

	@include media-max($md) {
		.wrapper {
			flex-direction: column;
			gap: 48px;
		}
		.content {
			width: 100%;
			padding-top: 0;
		}
		.stats-wrapper {
			width: 100%;
		}
	}

	@include media-max($xs) {
		.stats-wrapper {
			grid-template-columns: 1fr;
		}
	}
}